{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans "Sign
Out" %}{% endblock %} {% block content %}
<div class="container pt-5 pb-5">
  <div class="row justify-content-center d-flex text-center">
    <div class="col-md-8 mt-3">
      <h3>{% trans "Sign Out" %}</h3>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>
    </div>
  </div>
  <div class="row justify-content-center d-flex text-center">
    <div class="col-md-8 mt-3">
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button class="btn btn-action right" type="submit">
          {% trans 'Sign Out' %}
        </button>
      </form>
    </div>
    <img
      class="pt-5"
      src="https://res.cloudinary.com/dknv0nxqz/image/upload/v1669472946/watchit/static/images/logout-the-end-cinema_retj1j.jpg"
      alt="image of cinema curtain with 'the end' projected on it"
      height="auto"
      width="50"
    />
  </div>
</div>
{% endblock %}
