<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %}
{% block title %} <title>{{ movie.movie_title }}!</title> {% endblock %}
<!-- prettier-ignore -->
{% block content %} {% load ratings %}

<section>
  <!-- Header part of the movie detail -->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div
        class="col-auto mt-3 col-md-3 d-flex justify-content-md-end justify-content-lg-center"
      >
        {% if "placeholder" in movie.movie_poster.url %}
        <img
          class="card-img-top movie-detail-image"
          src="https://res.cloudinary.com/dknv0nxqz/image/upload/v1669311606/watchit/static/images/placeholder-img_ufi0rq.jpg"
          alt="{{ movie.movie_title }} by {{ movie.director }} film cover with no poster."
        />
        {% else %}
        <img
          class="card-img-top movie-detail-image"
          src=" {{ movie.movie_poster.url }}"
          alt="{{ movie.movie_title }} by {{ movie.director }} movie details"
        />
        {% endif %}
      </div>
      <div class="col-auto p-0 mt-3 col-md-6">
        <div class="row align-items-center">
          <div class="col-12 p-0">
            <h1 class="text-center text-md-start">{{ movie.movie_title }}</h1>
          </div>
          <div class="p-0 col-12">
            <h2 class="p-bold text-center text-md-start">
              by {{ movie.director }}
            </h2>
          </div>
          <div class="row justify-content-center justify-content-md-start mt-3">
            <div
              class="p-0 col-12 mb-3 mb-md-5 d-flex justify-content-center justify-content-md-start col-md-5 col-lg-3"
            >
              <!--https://django-star-ratings.readthedocs.io/en/latest/?badge=latest/#-->
              {% ratings movie 20 20 %}
            </div>
            <div class="p-0 col-4 col-lg-3 d-flex justify-content-center">
              <a href="#reviews" class="btn btn-action">Review</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="row justify-content-center">
      <div class="col col-md-8">
        <h3 class="h3-styles">Synopsis</h3>
        {{ movie.synopsis | linebreaks }}
      </div>
    </div>
  </div>
</section>

<!-- Reviews Section -->
<section class="pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col col-md-8">
      {% if user.is_authenticated %}
      <div>
        <h3 class="">Share your thoughts on this movie</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em">
          {{ review_form | crispy }} {% csrf_token %}
          <button type="submit" class="btn btn-action">Review</button>
        </form>
      </div>
      {% else %}
      <h3 class="text-center">
        Please <a href="{% url 'account_login' %}">Log In</a> or
        <a href="{% url 'account_signup' %}">Sign Up</a> to review
      </h3>
      {% endif %}
    </div>
  </div>

  <div class="mx-3 py-5 row justify-content-center">
    <div class="col-12 col-md-8">
      <h3 class="">Reviews</h3>
    </div>
    <div class="row justify-content-center">
      {% for review in reviews %}
      <div class="card mt-4 col-12 col-md-8">
        <div class="card-body">
          <div class="row py-2">
            <div class="col-12 col-md-6">
              <h4>{{ review.review_username }}</h4>
            </div>
            <div class="col-12 col-md-6">
              <p>{{ review.review_created_on }}</p>
            </div>
          </div>
          <div class="row">
            <div class="review-body col-12">
              <p class="p-bold">reviewed:</p>
              {{ review.content | linebreaks}}
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col-12 col-md-8">
        <h3>No reviews made yet</h3>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
