{% extends "account/base.html" %} {% load i18n %}
<!-- prettier-ignore -->
{% load account socialaccount %}
<!-- prettier-ignore -->
{% block head_title %}{% trans "Log In" %} {% endblock %} {% block title %}
<title>Log In</title>
{% endblock %} {% block content %}

<section class="d-flex align-items-center justify-content-center pb-3">
  <div class="login-container">
    <div class="row">
      <div
        class="col-12 d-flex flex-column justify-content-center align-items-center"
      >
        <img
          class="book-image-auth pt-5"
          src="https://res.cloudinary.com/dknv0nxqz/image/upload/v1668944494/watchit/static/images/hero-image-watchit_euj5ql.png"
          alt="image of a red carpet to enter cinema"
          height="250"
          width="auto"
        />
      </div>
      <div
        class="col-12 d-flex flex-column justify-content-center align-items-center"
      >
        <h1>{% trans "Log In" %} to WatchIt!</h1>
        <h2 class="page-subtitle text-center">
          So many movie, so many options...
        </h2>

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}
          <div
            class="flex-column d-flex justify-content-center align-items-center"
          >
            <button class="btn btn-action btn-styles" type="submit">
              {% trans "Log In" %}
            </button>
          </div>
        </form>
        <p class="text-center">
          {% blocktrans %}If you have not created an account yet, then please
          <a class="link pt-5" href="{{ signup_url }}">sign up</a>
          <!-- prettier-ignore -->
          first.{% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
