{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WatchIt!</title>

    <!-- Import for Google Fonts Lato & Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Poppins:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Import stylesheet CDN Font-Awesome 6.2.1 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Import Bootstrap 5.2.2 CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- Import Owl Carousel CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
      integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Import Django Star Ratings -->
    <link
      rel="stylesheet"
      href="{% static 'star-ratings/css/star-ratings.css' %}"
    />
    <script
      type="text/javascript"
      src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"
    ></script>
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block title %}{% endblock %}
  </head>

  <body>
    <!-- Navigation bar -->

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark red-bg">
      <a class="navbar-brand" href="{% url 'home' %}"
        ><span>Watch</span><span>It!</span></a
      >
      <!-- Search functionality in Navbar -->
      <div class="align-items-center justify-content-center mb-3">
        <div class="text-center">
          <form class="d-inline-flex col-10" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="flex">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  ><i class="fa-solid menu-icon fa-film"></i>Movies</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'moviebox' %}"
                  ><i class="fa-solid fa-fire"></i>Moviebox</a
                >
              </li>
              <!-- Navbar links to display based on user type (auth or not) -->
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#"
                  ><i class="fa-duotone fa-bookmark"></i>My Watchlist</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}"
                  ><i class="fa-solid fa-right-from-bracket"></i>Logout</a
                >
              </li>
              {% else %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="fa-solid fa-user"></i>Login/Register
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'account_login' %}"
                      >Login</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'account_signup' %}"
                      >Register</a
                    >
                  </li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- Page content comes here -->
    {% block content %}{% endblock content %}

    <!-- Footer -->
    <footer class="red-bg text-center mt-auto">
      <div class="container-fluid p-6">
        <div class="col align-self-center">
          <div class="footer-icon-container">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="https://github.com/nfepb" target="_blank">
                  <i
                    class="fa-brands fa-3x fa-square-github white-icon"
                    aria-hidden="true"
                  ></i>
                  <span class="sr-only">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  href="https://www.linkedin.com/in/nicolas-plante-bordeneuve/"
                  target="_blank"
                >
                  <i
                    class="fa-brands fa-3x fa-linkedin white-icon"
                    aria-hidden="true"
                  ></i>
                  <span class="sr-only">LinkedIn</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-text">
            &copy; Copyright 2022. Nicolas Planté-Bordeneuve.
          </div>
          <div class="copyright-text">
            This project is made for educational purposes only. No commercial
            revenue is generated from the project.
          </div>
        </div>
      </div>
    </footer>

    <!-- Import Bootstrap JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

    <!-- Import jQuery JavaScript -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- Import Owl Carousel JavaScript -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- Additional page scripts are added here -->
    {% block script %}{% endblock %}
  </body>
</html>
