<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %}
{% block title %} <title>WatchIt!</title> {% endblock %}
<!-- prettier-ignore -->
{% block content %}

<section id="hero-section">
  <div class="container-fluid">
    <div class="row">
      <div
        class="flex-column col-12 col-md-7 col-lg-6 align-items-center text-center"
      >
        <img
          class="hero-image"
          src="https://res.cloudinary.com/dknv0nxqz/image/upload/v1668944494/watchit/static/images/hero-image-watchit_euj5ql.png"
          alt="Image of 3D Glasses on pop corn"
        />
      </div>
      <div
        class="row flex-column col-12 col-md-7 col-lg-6 align-items-center justify-content-center text-center"
      >
        <h1 class="main-title pt-5 pb-3">WatchIt!</h1>
        <h2 class="secundary-title">
          Review your favorite movies and find your next one to watch!
        </h2>
        <h3 class="third-title">Discover new horizons in the 7th Art</h3>
        {% if user.is_authentificated %}
        <h3>Welcome {{ user }}</h3>
        <a class="btn btn-hero btn-secondary" href="#">My watchlist</a>
        {% else %}
        <div class="d-flex justify-content-around pt-3 pb-3">
          <a class="btn btn-hero btn-danger" href="#">Login</a>
          <a class="btn btn-hero btn-outline-danger" href="#">Sign Up</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<!-- Movie carousel section  -->
<section id="carousel-section">
  <h2 class="text-center">Newly added movies</h2>
  <!-- Owl Carousel https://owlcarousel2.github.io/OwlCarousel2/ -->
  <div class="owl-carousel owl-theme">
    {% for movie in movie_list %}
    <div class="item">
      <div class="card h-100 card-home border-0">
        <div class="card-body movie-listing-body">
          <a href="{% url 'movie_detail' movie.slug %}">
            <img
              class="card-img-top owl-movie-listing"
              src=" {{ movie.movie_poster.url }}"
              alt="{{ movie.title }} by {{ movie.year_released }} movie listing"
            />
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- Genre Section -->
<section id="genres-section">
  <h3 class="text-center page-subtitle">Discover by genre</h3>
  <!--Owl Carousel https://owlcarousel2.github.io/OwlCarousel2/-->
  <div class="owl-carousel owl-theme">
    {% for genre in genre_list %}
    <div class="item">
      <div class="card h-100 genre-card">
        <div class="card-body p-0">
          <a href="{% url 'genre_name' genre.slug %}">
            <div
              class="p-0 card-header genre-card-title d-flex align-items-center justify-content-center"
            >
              <h4 class="m-0 f-medium p-bold card-title text-center">
                {{ genre.genre_name }}
              </h4>
            </div>
            <img
              class="card-img genre-card-img"
              src=" {{ genre.genre_image.url }} "
              alt="image associated with {{ genre.genre.name }}"
            />
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %} {% block script %}
<!-- Owl Carousel script with settings from https://owlcarousel2.github.io/OwlCarousel2/demos/basic.html-->
<script>
  $(".owl-carousel").owlCarousel({
    loop: true,
    margin: 10,
    nav: true,
    responsive: {
      0: {
        items: 1,
      },
      600: {
        items: 4,
      },
      1000: {
        items: 8,
      },
    },
  });
</script>
{% endblock %}
